.bg-dark{
  height: 400px;
  width: 245px;
}
.nav-pills li a span
{
color:   rgb(243,117,46);
font-size:21px;
}
.nav-pills li a span:hover
{
  color: rgb(243,117,46);
  font-size:24px;
}

.submenu {
  display: none;
}

.submenu.show {
  display: block;
}

.plus-sign {
  float: right;
  margin-right: 5px;
}
