<div id="container">
  <div id="section1">
    <div *ngIf="!showDashboard" class="login-container">
      <div id="header">
        <h2><span class="bi bi-person" id="person"></span>{{ title }}</h2>
      </div>
      <form (ngSubmit)="login()" [formGroup]="loginForm">

        <div>
          <label class="form-label" for="email">Email:</label>
          <div>
            <input class="form-control" type="email" formControlName="email" [(ngModel)]="userEmail" />
            <span
              *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
              <span *ngIf="loginForm.get('email')?.errors?.['required']" class="spantags">Email is required</span>
              <span *ngIf="loginForm.get('email')?.errors?.['pattern']" class="spantags">Invalid Email format</span>
            </span>
          </div>
        </div><br>
        <div>
          <label class="form-label" for="password">Password:</label>
          <div>
            <input class="form-control" type="password" formControlName="password" required
              [(ngModel)]="userPassword" />
          </div>
          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <span *ngIf="loginForm.get('password')?.errors?.['required']" class="spantags">Password is required</span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']" class="spantags">Invalid Password
              format</span>
          </div>
        </div><br>
        <div id="log">
          <button id="select" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div id="section2">
    <img id="image" src="../../../assets/img/login6.png">
      
  </div>

</div>