<div class="container-fluid mt-4">
    <h1 class="text-center mb-3 employecolor" style="font-size: 32px; font-family: Arial, Helvetica, sans-serif;">
        Account Project</h1>
    <form class="formborderbox round round-3 p-4 mt-3" (submit)="SendAccountProject(accountProjectForm.value)"
        #accountProjectForm="ngForm">
        <div class="row mb-3">
            <!-- <div class="col-md-4 mb-3">
                <label for="accountProjectId" class="form-label">Account Project Id:</label>
                <input type="text" class="form-control" id="accountProjectId" placeholder="Enter your project Id" [(ngModel)]="accountProject.accountProjectId" name="accountProjectId">
            </div> -->
            <div class="col-md-4 mb-3">
                <label for="projectPId" class="form-label">Project PID:</label>
                <input type="text" class="form-control" id="projectPId" placeholder="Enter your Project PID"
                    [(ngModel)]="accountProject.projectPId" name="projectPId">
            </div>
            <div class="col-md-4 mb-3">
                <label for="projectName" class="form-label">Project Name:</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter your Project Name"
                    [(ngModel)]="accountProject.projectName" name="projectName">
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label for="accountId" class="form-label">Account Name:</label>
                <input type="number" class="form-control" id="accountId" placeholder="Enter your Account Id" [(ngModel)]="accountProject.accountId" name="accountId">
            </div> -->
            <div class="col-md-4 mb-3">
                <label for="accountId" class="form-label">Account Name:</label>
                <select class="form-select" id="accountId" [(ngModel)]="accountProject" name="accountId">
                    <option *ngFor="let account of accountList" [ngValue]="account.accountId">{{ account.accountName }}
                    </option>
                </select>
            </div>



            <div class="col-md-4 mb-3">
                <label for="priority" class="form-label">Priority:</label>
                <input type="number" class="form-control" id="priority" placeholder="Enter Priority"
                    [(ngModel)]="accountProject.priority" name="priority">
            </div>
            <div class="col-md-4 mb-3">
                <label for="projectManagerId" class="form-label">Project Manager :</label>
                <select class="form-select" id="projectManagerId" [(ngModel)]="accountProject.projectManagerId" name="projectManagerId">
                    <option *ngFor="let employee of employeeList" [ngValue]="employee.employeeId">{{employee.firstName}} {{employee.lastname}}</option>
                </select>
            </div>
            
            
            <div class="col-md-4 mb-3">
                <label for="noOfBillingHours" class="form-label">Number of Billing Hours:</label>
                <input type="number" class="form-control" id="noOfBillingHours"
                    placeholder="Enter Number of Billing Hours" [(ngModel)]="accountProject.noOfBillingHours"
                    name="noOfBillingHours">
            </div>
            <div class="col-md-4 mb-3">
                <label for="plannedStartDate" class="form-label">Planned Start Date:</label>
                <input type="date" class="form-control" id="plannedStartDate" [(ngModel)]="accountProject.plannedStartDate" name="plannedStartDate">
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="plannedEndDate" class="form-label">Planned End Date:</label>
                <input type="date" class="form-control" id="plannedEndDate" [(ngModel)]="accountProject.plannedEndDate" name="plannedEndDate">
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="actualEndDate" class="form-label">Actual End Date:</label>
                <input type="date" class="form-control" id="actualEndDate" [(ngModel)]="accountProject.actualEndDate" name="actualEndDate">
            </div>
            <div class="col-md-4 mb-3">
                <label for="projectStatus" class="form-label">Project Status:</label>
                <input type="number" class="form-control" id="projectStatus" placeholder="Enter Project Status"
                    [(ngModel)]="accountProject.projectStatus" name="projectStatus">
            </div>
            <div class="col-md-4 mb-3">
                <label for="isActive" class="form-check-label">Is Active:</label>
                <input type="checkbox" class="form-check-input" id="isActive" [(ngModel)]="accountProject.isActive"
                    name="isActive">
            </div>
            <div class="col-md-4 mb-3">
                <label for="isRed" class="form-check-label">Is Red:</label>
                <input type="checkbox" class="form-check-input" id="isRed" [(ngModel)]="accountProject.isRed"
                    name="isRed">
            </div>
            <div class="col-md-4 mb-3">
                <label for="isDeleted" class="form-check-label">Is Deleted:</label>
                <input type="checkbox" class="form-check-input" id="isDeleted" [(ngModel)]="accountProject.isDeleted"
                    name="isDeleted">
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label for="uuid" class="form-label">UUID:</label>
                <input type="text" class="form-control" id="uuid" placeholder="Enter UUID" [(ngModel)]="accountProject.uuid" name="uuid">
            </div> -->
            <div class="col-md-4 mb-3">
                <label for="createdBy" class="form-label">Created By:</label>
                <input type="text" class="form-control" id="createdBy" placeholder="Enter Created By"
                    [(ngModel)]="accountProject.createdBy" name="createdBy">
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label for="createdOn" class="form-label">Created On:</label>
                <input type="date" class="form-control" id="createdOn" [(ngModel)]="accountProject.createdOn" name="createdOn">
            </div> -->
            <div class="col-md-4 mb-3">
                <label for="modifiedBy" class="form-label">Modified By:</label>
                <input type="text" class="form-control" id="modifiedBy" placeholder="Enter Modified By"
                    [(ngModel)]="accountProject.modifiedBy" name="modifiedBy">
            </div>
            <!-- <div class="col-md-4 mb-3">
                <label for="modifiedOn" class="form-label">Modified On:</label>
                <input type="date" class="form-control" id="modifiedOn" placeholder="Enter Modified On" [(ngModel)]="accountProject.modifiedOn" name="modifiedOn">

            </div>   -->
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btnbg">Submit</button>

        </div>
    </form>
</div>