<div class="card bg-light" >
  <h1>Employee Details</h1>

  <div class="card-body ">

      <div class="header bg-light">
          <div class="input-group bg-light" style="width: 300px; ">
              <input type="text" class="form-control" placeholder="Search for...">

              <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Option 1</a>
                  <a class="dropdown-item" href="#">Option 2</a>
                  <a class="dropdown-item" href="#">Option 3</a>
                </div>
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
              </div>
              <button type="button" class="btn btn-primary add" routerLink="/addemployee">
                <i class="fas fa-plus-circle">Add</i>
              </button>
            </div>

          </div>
  <table class="table " style="width: 793px;height:300px; ">
      <!-- table-bordered -->
  <thead >
  <tr>
             <th>Employee Id</th>
              <th>Employee Code</th>
              <th>Name</th>
              <!-- <th>Middle Name</th>
              <th>Last Name</th> -->
              <!-- <th>Image</th> -->

              <th>Designation</th>
              <th>Email</th>
              <th>Reporting Maneger Id</th>
              <th>status</th>
              <th>Modify</th>
  </tr>
  </thead>
  <tbody>
      <tr>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
              <i class="fas fa-edit"></i>
            </button></td>
      </tr>
      <tr>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
              <i class="fas fa-edit"></i>
            </button></td>
      </tr>
      <tr>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>


          <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
              <i class="fas fa-edit"></i>
            </button></td>
      </tr>
      <tr>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
              <i class="fas fa-edit"></i>
            </button></td>
      </tr>
      <tr>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td ><button type="button" class="btn btn-warning ml-2  bg bg-light">
              <i class="fas fa-edit"></i>
            </button></td>
      </tr>
  </tbody>
  </table>

  </div>

  </div>


